<div class="flex-column login" >

<p>Login</p>

<form class="u-form flex-column" action="/login" method="post">
  <div class="u-form-fieldset fieldset">
        <label for="name_input">Username:</label><br>
        <input class="width-100" id="name" type="text" name="user[username]" value="<%= @user.try(:username) %>">
      <%= print_errors(@user,:username) %>
      </div>
      <div class="u-form-fieldset fieldset">
        <label for="email_input">Email:</label><br>
        <input class="width-100" id="email" type="text" name="user[email]" value="<%= @user.try(:email) %>">
      <%= print_errors(@user,:email) %>
      </div>
      <div class="u-form-fieldset fieldset">
        <label for="password_input ">Password:</label><br>
        <input class="width-100" id="password" type="text" name="user[password]" placeholder="************">
      <%= print_errors(@user,:password) %>
      </div>
    <input class="submit-buttons" type="submit" value="Submit">
</form>
</div>
<img src="http://static.tvmaze.com/uploads/images/original_untouched/105/262759.jpg">
